{% from "article.j2" import display_article %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search results</title>
</head>
<body>
    <h1>Search results for {{ title }}</h1>
    {% if article_list %}
        {% for a in article_list %}
            {{ display_article(a, translate) }}
        {% endfor %}
    {% else %}
        No articles found :(
    {% endif %}
</body>
</html>