{% from "article.j2" import display_article %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search results</title>
    <link rel="icon" type="image/svg+xml" href="/icon.svg">
</head>
<body>
    <h1>Search results for {{ title }}</h1>
    {% if article_list %}
        Articles found: {{ number_of_articles }}
        {% for a in article_list %}
            {{ display_article(a, translate) }}
        {% endfor %}
    {% else %}
        No articles found :(
    {% endif %}
</body>
</html>